*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    color:#3a3a3a;
}
#header{
    width: 100%;
    padding-bottom: 15%;
}
.titlecentered{
    position: relative;
    text-align: center;
}
h1{
    font-size: 3.5vw;
    font-weight: 600;
}
.container{
    padding: 1% 3%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lheader{
    flex-basis: 62%;
    margin: 0;
}
.lheader h1{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lheader h2{
    top:25%
}
h2{
    font-size: 1.5vw;
    font-weight: 300;
    position: relative;
    
}
.rheader{
    flex-basis: 35%;
}
.rheader img{
    background: linear-gradient(-45deg,#B0DAFF, #19A7CE, #146C94);
    width: 100%;
    position: relative;
    top: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

#header nav img{
    background: #3a3a3a;
    border-radius: 15%;
    height: 1em;
    width: auto;
}
.italic{
    font-style: italic;
    font-size: 0.8vw;
    font-weight: 500;
}

.multicolor{
    background: linear-gradient(-45deg,#B0DAFF, #00bef3, #146C94);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 10% 50%;
    }
    50% {
        background-position: 90% 50%;
    }
    100% {
        background-position: 10% 50%;
    }
}

.container nav{
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
}
.container nav ul li{
    display: inline-block;
    margin: 0 20px;
}
.container nav ul li a{
    color:#3a3a3a;
    text-decoration: none;
    font-size: 1vw;
}
.container nav ul li a:hover{
    background: linear-gradient(-45deg,#B0DAFF, #19A7CE, #146C94);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150% 150%;
    animation: gradient 5s ease infinite;
}
/*ABOUT ME*/
#aboutme{
    background: linear-gradient(-45deg,#B0DAFF, #19A7CE, #146C94);
    transform: skewY(-5deg);
    width: 100%;
    height: fit-content;
    padding: 5%;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color:#fff;
}
.map{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.map img{
    object-fit: contain;
}
.pin{
    background: #ffffff;
    position: absolute;
    width: 0.7em;
    height:0.7em;
    border-radius: 50%;
}
.pin::before{
    content: '';
    background: #ffffff;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.5s ease-in-out infinite;
    z-index: -1;
}

.pin span{
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5vw;
    top:50%;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 3vw;
    padding: 0.3vw 0.6vw;
    font-size: 0.9vw;
    color: transparent;
    transition:0.5s;
    z-index: -1;
}
.asturiaspin{
    top:72%;
    left:63%;
}
.madridpin{
    top:83%;
    left:65%;
}
.bilbaopin{
    top:75%;
    left:74%;
}
.valenciapin{
    top:83%;
    left:82%;
}
.barcelonapin{
    top:78%;
    left:86%;
}
.palmaspin{
    top: 87%;
    left:20.5%;
}
.edinburghpin{
    top:30%;
    left:74%;
}
.madridpin:hover #MadridText{
    background: #fff;
    color:#3a3a3a;
    z-index: 1;
}
.asturiaspin:hover #AsturiasText{
    background: #fff;
    color:#3a3a3a;
    z-index: 1;
}
.bilbaopin:hover #BilbaoText{
    background: #fff;
    color:#3a3a3a;
    z-index: 1;
}
.barcelonapin:hover #BarcelonaText{
    background: #fff;
    color:#3a3a3a;
    z-index: 1;
}
.valenciapin:hover #ValenciaText{
    background: #fff;
    color:#3a3a3a;
    z-index: 1;
}
.edinburghpin:hover #EdinburghText{
    background: #fff;
    color:#3a3a3a;
    z-index: 1;
}
.palmaspin:hover #PalmasText{
    background: #fff;
    color:#3a3a3a;
    z-index: 1;
}
@keyframes pulse {
    100%{
        opacity: 0%;
        transform: scale(2.5, 2.5) translateX(-20%) translateY(-20%);
    }
}
.bold{
    font-weight: 450;
}
#aboutme a{
    color:#fff;
}
/*TECHNOLOGIES*/
#technologies{
    background:#fff; 
    transform: skewY(-5deg);
    width: 100%;
    padding: 3%;
}
#technologies h1{
    transform: skewY(5deg);
    width:100%;
    text-align: center;
    background: linear-gradient(-45deg,#B0DAFF, #19A7CE, #146C94);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.column {
    width: 30%;
    padding: 2% 2%;
    background: #fff;
    border-radius: 10%;
    text-align: center;

}
.row{
    justify-content: space-between;
    transform: skewY(5deg);
    width: 100%;
    display: flex;
}
#technologies ul{
    display: inline-block;
    text-align: left;  
}
#technologies ul li{
    flex-wrap: wrap;
    display: flex;
    font-size: 1.3em;
}
#technologies ul h1{
    font-size: 2em;
    font-weight: 500;
    transform: skewY(0deg);
}
#technologies img{
    height: 1em;
    width: auto;
    margin-top: 0.25em;
    border-right: 1em solid transparent;
}

 /* PROJECTS */
#projects{
    background: linear-gradient(-45deg,#B0DAFF, #19A7CE, #146C94);
    transform: skewY(-5deg);
    width: 100%;
    height: fit-content;
    padding: 5%;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color:#fff;
}

.lefttitle{
    transform: skewY(5deg);
    width: 100%;
    position:relative
}
.lefttitle h1{
    position:relative;
    text-align: center;
    color:#fff
}
.leftallign{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	margin: 0 0;
	transform: skewY(5deg);
}
.leftcol1{
    position: relative;
    top:15%;

    flex-basis: 30%;
}
.leftcol1 img{
    width: 100%;
    border-radius: 15px;
}
.leftcol2{
    vertical-align: top;
    position:relative;
    flex-basis: 65%;
}

#footer{
    background: #fff;
    height: 100vh;
    width:100%;
}
