*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #222222;
    color:#fff;
}
:root {
    --color-white: #fff;
    --color-gray: #c4c4c4;
    --color-black: #000;
    --color-purple: #8000ff;
    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
    }

.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.png);
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position: right;
}
.container{
    padding: 2% 2%;
}

.container h1{
    font-size: 4vw;
    font-weight: 600;
}
.container h2{
    font-size: 1.5vw;
    font-weight: 500;
}
.italic{
    font-style: italic;
    font-size: 0.8vw;
    font-weight: 500;
}

.multicolor{
    background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.spain{
    background: linear-gradient(-45deg,#FF0000,#FFFF00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container nav{
    justify-content: space-between;
    flex-wrap: wrap;
}
.container nav ul li{
    display: inline-block;
    margin: 20px;
}
.container nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 1vw;
}
.container nav ul li a:hover{
    background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
 /* PROJECTS */
.projects{
    width: 100%;
    height: 100vh;
    padding: 5%;
}
.leftallign{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.leftcol1{
    flex-basis: 41%;
}
.leftcol1 img{
    width: 100%;
    border-radius: 15px;
}
.leftcol2{
    flex-basis: 55%;
}
